* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* General Styles */

body {
    /*background-color: light gray;*/
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
div {
    /*border: 1px solid chocolate;*/
}
html {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Header Style */


/* Navigation Section */

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
    height: 4.375rem;
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
.top-navigation .logo {
    margin-top: 10px;
    margin-left: 250px;
}
.top-navigation .links {
    float: right;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    color: #838994;
    margin-left: -10px
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* Background / Content Section */

.introduction {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

/* Button */

.big-button {
    text-align: center;
    margin-top: 2rem;
    margin: 0 auto;
    color: white;
    padding: 20px;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    font-size: 1.125rem;
}

/* Three Icon Section */

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-weight: 300;
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem
}
.cases .devices > li {
    width: 33.33333%;
    float: left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

/*Footer*/

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.social .content .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

/* Responsive Styles */

@media (max-width: 1024px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 768px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 480px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 320px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }